html, body {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-section {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 15px;
  background: #5aa1ec;
}

.body-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.section {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
}

.section .section-container {
  padding: 20px;
}

.section h1 {
  font-size: 1.2em;
  margin: 10px;
}

.section > h1 {
  margin: 0;
  padding: 20px;
  background: #dfdfdf;
}

.column {
  display: flex;
}

.column > div {
  flex: 1;
}

.mt-1 {
  margin-top: 1em;
}

.hide {
  display: none;
}

.selection-dropdown {
  width: 250px;
}

.chart-container {
  flex: 1;
  height: 400px;
}

.table-container {
  overflow: auto;
}

.table-container table {
  width: 100%;
}

.table-container table td {
  padding: 5px;
}

.table-container table tr:first-child td {
  font-weight: bold;
}
