{% extends "base.html" %}
{% block content %}

<div id="main-container" class="body-section">
  <div class="section">
    <h1>Corelation of any two sensor data</h1>
    <a class="selection-dropdown section-container" id="seriesSelector">
      <span>Select data series</span>
      <ul class="hide">
        <li>Series 1</li>
        <li>Series 2</li>
        <li>Series 3</li>
      </ul>
    </a>
  </div>

  <div class="section">
    <h1>Data trend analysis</h1>
    <div class="section-container">
      <div class="column">
        <div class="graphic-container">
          <h1>Skewness of sensor data</h1>
          <div class="chart-container" id="corelationChartContainer"></div>
        </div>

        <div class="graphic-container">
          <h1>Outliner detection</h1>
          <div class="chart-container" id="outlinerDetectionChartContainer"></div>
        </div>
      </div>
      <div class="graphic-container">
        <h1>Mean, model, Median, Variance</h1>
        <div class="table-container" id="tableContainer"></div>
      </div>
    </div>
  </div>

  <div class="section">
    <h1>Corelation of any two sensor data</h1>
    <div class="section-container">
      <a class="selection-dropdown" id="seriesSelector">
        <span>Select another data series</span>
        <ul class="hide">
          <li>Series 1</li>
          <li>Series 2</li>
          <li>Series 3</li>
        </ul>
      </a>

      <div class="graphic-container mt-1" id="corelationChartContainer"></div>
    </div>
  </div>

</div>



{% endblock %}
