{% extends "base.html" %}
{% block content %}

<div id="main-container" class="body-section">
  <div class="section">
    <h1>Data trend analysis</h1>
    <div class="section-container">
      <select class="selection-dropdown" id="seriesSelector"></select>
      <div class="column">
        <div class="graphic-container">
          <h1>Skewness of sensor data</h1>
          <div class="chart-container" id="histogramPlotContainer"></div>
        </div>
      </div>
      <div class="graphic-container">
        <h1>Mean, model, Median of all sensor data</h1>
        <div class="table-container" id="tableContainer"></div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
